/*
 * Vars
 */

$primary: #2d2b38;
$bg-dark: #2965b4;
$bg-light: #519cff;
$shadow: #333;
$shadow-light: #0003;
$border-radius: 8px;
$trans: all .2s cubic-bezier(.79,.14,.15,.86);

/*
 * Globals
 */

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

body {
  padding: 0 0.5rem;
  background: #606578;
  color: #333;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

a,
a:link,
a:hover,
a:active {
  outline: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
  font-variant: small-caps;
  color: #333;

  a, a:hover, a:focus {
    padding: 0 0.8% 0.2rem;
    border-top: 1px solid #4191FF;
    border-bottom: 1px solid #4191FF;
    color: #2965B4;
    text-decoration: none;
  }
}

h1, .h1 { font-size: 1.6rem; }
h2, .h2 { font-size: 1.3rem; }
h3, .h3 { font-size: 1.1rem; }
h4, .h4, h5, .h5 { font-size: 1rem; }

iframe { margin: 0 0 1rem 0; }

code {
  // Hack, 'Fira Mono' + Bootstrap defaults
  font-family: Hack,'Fira Mono',SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}


#tallest.container {
  padding: 0;
}

#tallest {
  border-radius: $border-radius;
  box-shadow: 0 0 3px 1px #333;
}

.container {
  max-width: 60rem;
}

.masthead-super {
  height: 1rem;
  padding: 0 0.5rem;
  font-size: 0.6rem;
  font-family: Hack, monospace, 'Courier New', Courier;
  color: #fff;
  text-shadow: #333 1px 1px 4px;

  * {
    cursor: default;
  }
}

.masthead {
  .banner {
    min-height: 180px;
    padding: 1%;
    background: repeating-linear-gradient( 45deg, #2d2b38, #2d2b38 20px, #5d4672 20px, #5d4672 40px ) repeat center center #2d2b38;
    background-image: url("https://i.imgur.com/umisqTL.png");
    background-position: center -12rem;
    background-size: cover;
    border-bottom: 1px solid #000;
    border-radius: $border-radius $border-radius 0 0;
    box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);

    .avatar {
      padding: 0.2rem;
      width: 5.2rem;
      height: 5.2rem;
      background: radial-gradient(#519cff, #2965b4);
      border-radius: 100%;
      box-shadow: 0 0 1px #000 inset;
      
      .avatar-img {
        background: transparent url("https://i.imgur.com/EqHv0We.jpg") center/100% no-repeat;
        height: 4.8rem;
        border-radius: 100%;
        box-shadow: 0 0 2px #000 inset;

          background-size: 120%;
          background-position: 30% 0;
      }
    }

    .sharing-icons {
      align-items: flex-start;

      span:hover {
        transition: $trans;
        background: #fff;
      }
    }
  }

  .blog-nav {
    background: linear-gradient(to bottom, #519cff 0%, #2965b4 100%) repeat center center #2965b4;
    color: #fff;

    /* Nav links */
    .nav-link {
      padding: 0.3rem 1rem;
      color: #fff;
      text-shadow: 0 1px 2px #333;

      &:hover, &:focus {
        color: #fff;
      }
    }
  }
}

#main {
  background: #fff;
  padding-top: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 2rem;
  
  & > .btn {
    margin: 0 1rem 0 0;
    border-radius: 2rem;
  }
}


/*
 * Blog posts
 */

.blog-post {
  margin: 2rem 0;

  &:first-child {
    margin-top: 0.6rem;
  }

  &:not(:last-child) {
    border-bottom: 1px dashed #aaa;
  }

  .description {
    color: #999;
  }

  .metadata {
    margin: 0;
    font-size: 0.8rem;
    color: #999;

    .fa.fa-tag {
      vertical-align: bottom;
    }
  }

  .content {
    margin: 1rem 0;
  }

  footer {
    padding: 0 0.8%;
    margin: 0 0 0.4rem;
  }

  &.single {
    footer {
      padding: 1rem 0;
      border-top: 1px solid #4191ff;
    }
  }

  &.list {
    font-size: 0.8rem;

    .content {
      margin: 0.8rem 0;
    }
  }

  article img {
    max-width: 100%;
    height: auto;
    margin: 13px auto;
  }
}

// Page elements
.highlight {
  margin: 0 0 1rem;

  pre {
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 3px 0 #0003;
    white-space: pre-wrap;
  }
}

p > code {
  padding: 0.1rem 0.2rem;
  background: #333;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 3px 0 #0003;
}


// Sharing Icons
.sharing-icons {
  span {
    padding: 0.4rem 0;
  }

  a {
    span {
      min-width: 1.8rem;
      text-align: center;
      box-shadow: 0 0 0 1px $bg-dark;
      border-radius: 100%;
      transition: $trans;

      &:hover {
        box-shadow: 0 0 3px 1px $bg-dark;
      }
    }
  }

  .nav-item+.nav-item {
    margin-left: 0.6rem;
  }

  .fa-twitter { color: #55acee; }
  .fa-reddit-alien { color: #ff4500; }
  .fa-tumblr { color: #35465c; }
  .fa-facebook-f { color: #3b5998; }
  .fa-pinterest-p { color: #bd081c; }
  .fa-linkedin { color: #0077b5; }
  .fa-xing { color: #1a7576; }
  .fa-hacker-news { color: #f60; }
  .fa-telegram { color: #54a9eb; }
  .fa-whatsapp { color: #25d366; }
  .fa-discord { color: #7289DA; }
  .fa-patreon { color: rgb(232, 91, 70); }
  .fa-github { color: #000; }
  .fa-envelope { color: #777; }
}

.fa-exclamation-triangle {
  color: gold;
}

/*
 * Footer
 */

#footer {
  padding: 1rem 0;
  margin: 0 auto 1rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  border-radius: 0 0 $border-radius $border-radius;

  p:last-child {
    margin-bottom: 0;
  }
}

/*
 * Specifics
 */

 #disqus_thread {
  margin-top: 1rem;
}

.twitter-tweet {
  margin: 0 auto 1rem !important;
}

.youtube-player {
  width: 640px;
  max-width: 100%; 
  height: 311px;
}

.map-embed {
  width: 100%;
  min-height: 18rem;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px $shadow-light;
}