<!doctype html>
<html lang="{{ .Lang }}" prefix="dc: http://purl.org/dc/elements/1.1/ og: http://ogp.me/ns#" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>
  <head>
    {{- partial "head-meta.html" . }}

    {{- partial "head-links.html" . }}

    {{ partial "schema-dot-org.html" . }}

    {{ "<!-- Custom JS -->" | safeHTML }}
    {{ partial "head-custom.html" . }}
  </head>

  <body>
    {{ "<!-- a11y: skip to content -->" | safeHTML }}
    <a href="#main" target="_self" class="skip-to-main">Skip to content.</a>

    {{ if .Site.Params.masthead_visible }}
    {{ "<!-- site masthead -->" | safeHTML }}
    <div class="container-xl masthead-super d-flex flex-row justify-content-between">
      <div>
        {{ .Site.Params.tagline }}
      </div>

      <div>
        🥐 ☕
      </div>

      <div>
        Online since 2011
      </div>
    </div>
    {{ end }}

    {{ "<!-- site container -->" | safeHTML }}
    <div id="tallest" class="container-fluid">

      {{ block "masthead" . }}
      <div class="masthead">

        {{ block "header" . }}
          {{ if (ne .Site.Params.header_visible false) }}
          <div class="container-xl banner d-flex">
            {{ if .Site.Params.header_avatar }}
            <a href="{{ .Site.BaseURL }}" class="avatar" target="_self">
              <img class="avatar-img" src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.me.email }}?s=200" alt="avatar">
            </a>
            {{ end }}

            <nav class="nav sharing-icons justify-content-end ml-auto">
              {{ partial "social-icons.html" . }}

              <a class="nav-item" id="settings-toggle" target="_self" href="javascript: void(0)">
                <span class="fas fa-cog"></span>
              </a>
            </nav>

          </div>
          {{ end }}
        {{ end }}

        {{ "<!-- site nav -->" | safeHTML }}
        <div class="blog-nav">
          <nav class="container-xl nav d-flex justify-content-between">
            <div class="d-flex flex-row">
              {{- $currentPage := . -}}
              {{ range .Site.Menus.navbar }}
                <a class="nav-link{{ if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}" target="_self">
                  {{ .Name }}
                </a>
              {{ end }}
            </div>

            <div class="d-flex flex-row-reverse">
              {{ "<!-- site search -->" | safeHTML }}
              <form id="sitesearch" class="search" role="search">
                <label for="search-input">
                  <i class="fa fa-search "></i>
                </label>

                <input type="search" id="sitesearch-input" class="search-input">
              </form>
            </div>

            <div id="search-results" class="container">
            </div>
          </nav>
        </div>
      </div>

      <template id="search-result" hidden>
        <article class="search-result">
          <h4 class="search-result-title">
            <a class="search-result-link"></a>
          </h4>

          <p class="search-result-summary"></p>
        </article>
      </template>
      {{ end }}


      {{ block "body" . }}
      {{ "<!-- main content -->" | safeHTML }}
      <main id="main" class="container-xl">
        <div class="row">
          <div class="col-sm-8 container-fluid main">

            {{ partial "debug.html" }}

            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}

          </div> {{ "<!-- /.blog-main -->" | safeHTML }}

          {{ partial "sidebar.html" . }}

        </div>

      </main>
      {{- "<!-- /#main.container -->" | safeHTML }}
      {{ end }}

      {{ partial "footer.html" . }}
    </div>

    {{ partial "settings.html" }}
    {{ partial "cookie-consent.html" . }}

    <!--{{ partial "scripts.html" . }}-->
  </body>
</html>
