<!DOCTYPE html>
<html lang="{{ .Lang }}" prefix="dc: http://purl.org/dc/elements/1.1/ og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>
  <head>
    {{ partial "head-meta.html" . }}

    <base target="_blank">
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}

    {{ "<!-- combined, minified CSS -->" | safeHTML }}
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet"{{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.style}}" crossorigin="anonymous"{{ end }}>

    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ partial "head-custom.html" . }}
  </head>

  <body>
    <div class="masthead-super d-flex flex-row justify-content-between">
      <div>
        {{ .Site.Params.tagline }}
      </div>

      <div>
        🥐 ☕
      </div>

      <div>
        Online since 2011
      </div>
    </div>

    <div id="tallest"> <!-- Site container -->

      {{ block "masthead" . }}
      <div class="masthead">

        {{ block "header" . }}
          {{ if (ne .Site.Params.header_visible false) }}
          <div class="banner">

            <nav class="nav sharing-icons justify-content-end">
              <a class="nav-item" title="Discord: Deso#9121">
                <span class="fab fa-discord" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://twitter.com/{{ .Site.Params.social.twitter }}" title="Twitter">
                <span class="fab fa-twitter"></span>
              </a>

              <a class="nav-item" href="https://www.linkedin.com/in/{{ .Site.Params.social.linkedin }}" title="LinkedIn">
                <span class="fab fa-linkedin" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://www.github.com/{{ .Site.Params.social.github }}" title="Github">
                <span class="fab fa-github" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://www.patreon.com/{{ .Site.Params.social.patreon }}" title="Patreon">
                <span class="fab fa-patreon" aria-hidden="true"></span>
              </a>
            </nav>

          </div>
          {{ end }}
        {{ end }}

        <nav class="nav blog-nav">
          <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL }}" target="_self">
            {{ i18n "home" }}
          </a>
          
          {{- $currentPage := . -}}
          {{ range .Site.Menus.navbar }}
            {{ $menuURL := .URL }}

            <a class="nav-link{{ if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}" target="_self">
              {{ .Name }}
            </a>
          {{ end }}
        </nav>
      </div>
      {{ end }}


      {{ block "body" . }}
      <main id="main" class="container">
        <div class="row">
          <div class="col-sm-8 no-gutters container-fluid main">

            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}

          </div> {{ "<!-- /.blog-main -->" | safeHTML }}
 
          {{ partial "sidebar.html" . }}

        </div> {{ "<!-- /.row -->" | safeHTML }}

      </main> {{ "<!-- /.container -->" | safeHTML }}
      {{ end }}


      {{ block "footer" . }}
      <footer id="footer">

        <div class="bigbtns">
          <div id="bigbtns_firefoxbtn">
            <a href="https://getfirefox.com/" title="A better browser for a better Internet" target="_blank">
              <img src="{{ .Site.BaseURL }}/images/firefox2019.svg" alt="firefox">
            </a>
            
            <span>
              Developed on 
              <a href="https://getfirefox.com/" title="A better browser for a better Internet" target="_blank">
                Firefox
              </a>
            </span>
          </div>
          
          <div id="bigbtns_builtwithhtml5">
            <a href="https://w3.org/html5" title="World Wide Web Consortium and Web Hypertext Application Technology Working Group's Hypertext Markup Language specification version 5, or just: W3C &amp; WHATWG's HTML5" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="#E34F26" d="M71,460 L30,0 481,0 440,460 255,512"/>
                <path fill="#EF652A" d="M256,472 L405,431 440,37 256,37"/>
                <path fill="#EBEBEB" d="M256,208 L181,208 176,150 256,150 256,94 255,94 114,94 115,109 129,265 256,265zM256,355 L255,355 192,338 188,293 158,293 132,293 139,382 255,414 256,414z"/>
                <path fill="#FFF" d="M255,208 L255,265 325,265 318,338 255,355 255,414 371,382 372,372 385,223 387,208 371,208zM255,94 L255,129 255,150 255,150 392,150 392,150 392,150 393,138 396,109 397,94z"/>
              </svg>
            </a>
            
            <span>Flash Killer, HTML5</span>
          </div>
        </div>

        <p>
          {{ if .Site.Copyright }}
            {{ .Site.Copyright | markdownify }}.
          {{ else }}
            Blog template created by <a href="https://twitter.com/mdo">@mdo</a>, ported to Hugo by <a href='https://twitter.com/mralanorth'>@mralanorth</a>.
          {{ end }}
          <a href="{{ .Site.BaseURL }}/privacy" target="_self">Privacy policy.</a>
        </p>

        {{/* <p>
          <a href="#">{{ i18n "backToTop" }}</a>
        </p> */}}
      </footer>
      {{ end }}
    </div>
  </body>
</html>
