<!doctype html>
<html lang="{{ .Lang }}" prefix="dc: http://purl.org/dc/elements/1.1/ og: http://ogp.me/ns#" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>
  <head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    {{- partial "head-meta.html" . }}

    {{- partial "head-links.html" . }}

    {{ "<!-- Primary CSS -->" | safeHTML }}
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet" {{ if not .Site.Params.disable_sri }} integrity="{{ .Site.Data.sri.style }}" crossorigin="anonymous"{{ end }}>

    {{ partial "schema-dot-org.html" . }}

    {{ "<!-- Custom JS -->" | safeHTML }}
    {{ partial "head-custom.html" . }}
  </head>

  <body>
    {{ "<!-- a11y: skip to content -->" | safeHTML }}
    <a href="#main" target="_self" class="skip-to-main">Skip to content.</a>

    {{ "<!-- site masthead -->" | safeHTML }}
    <div class="masthead-super container d-flex flex-row justify-content-between">
      <div>
        {{ .Site.Params.tagline }}
      </div>

      <div>
        🥐 ☕
      </div>

      <div>
        Online since 2011
      </div>
    </div>

    {{ "<!-- site container -->" | safeHTML }}
    <div id="tallest" class="container">

      {{ block "masthead" . }}
      <div class="masthead">

        {{ block "header" . }}
          {{ if (ne .Site.Params.header_visible false) }}
          <div class="banner d-flex">
            {{ if .Site.Params.header_avatar }}
            <a href="{{ .Site.BaseURL }}" class="avatar" target="_self">
              <img class="avatar-img" src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.me.email }}?s=200" alt="avatar">
            </a>
            {{ end }}

            <nav class="nav sharing-icons justify-content-end ml-auto">
              <a class="nav-item" title="Discord: Deso#9121">
                <span class="fab fa-discord" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://twitter.com/{{ .Site.Params.social.twitter }}" title="Twitter">
                <span class="fab fa-twitter"></span>
              </a>

              <a class="nav-item" href="https://www.flickr.com/photos/{{ .Site.Params.social.flickr }}" title="Flickr">
                <span class="fab fa-flickr" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://www.linkedin.com/in/{{ .Site.Params.social.linkedin }}" title="LinkedIn">
                <span class="fab fa-linkedin" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://www.github.com/{{ .Site.Params.social.github }}" title="Github">
                <span class="fab fa-github" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://www.patreon.com/{{ .Site.Params.social.patreon }}" title="Patreon">
                <span class="fab fa-patreon" aria-hidden="true"></span>
              </a>

              <a class="nav-item" href="https://ko-fi.com//{{ .Site.Params.social.kofi }}" title="Ko-fi">
                <span class="fas fa-coffee fa-kofi" aria-hidden="true"></span>
              </a>

              <a class="nav-item" id="settings-toggle" target="_self" href="javascript: void(0)">
                <span class="fas fa-cog"></span>
              </a>
            </nav>

          </div>
          {{ end }}
        {{ end }}

        {{ "<!-- site nav -->" | safeHTML }}
        <nav class="nav blog-nav d-flex justify-content-between">
          <div class="d-flex flex-row">
            <a class="nav-link {{ if .IsHome }}active{{ end }}" href="{{ .Site.BaseURL }}" target="_self">
              {{ i18n "home" }}
            </a>
            
            {{- $currentPage := . -}}
            {{ range .Site.Menus.navbar }}
              {{ $menuURL := .URL }}

              <a class="nav-link{{ if or ($currentPage.IsMenuCurrent "navbar" .) ($currentPage.HasMenuCurrent "navbar" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}" target="_self">
                {{ .Name }}
              </a>
            {{ end }}
          </div>

          <div class="d-flex flex-row-reverse">
            {{ "<!-- site search -->" | safeHTML }}
            <form id="sitesearch" class="search" role="search">
              <label for="search-input">
                <i class="fa fa-search "></i>
              </label>

              <input type="search" id="sitesearch-input" class="search-input">
            </form>
          </div>

          <div id="search-results" class="container">
          </div>
        </nav>
      </div>

      <template id="search-result" hidden>
        <article class="search-result">
          <h4 class="search-result-title">
            <a class="search-result-link"></a>
          </h4>

          <p class="search-result-summary"></p>
        </article>
      </template>
      {{ end }}


      {{ block "body" . }}
      {{ "<!-- main content -->" | safeHTML }}
      <main id="main" class="container">
        <div class="row">
          <div class="col-sm-8 container-fluid main">

            {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }}

          </div> {{ "<!-- /.blog-main -->" | safeHTML }}

          {{ partial "sidebar.html" . }}

        </div>

      </main>
      {{- "<!-- /#main.container -->" | safeHTML }}
      {{ end }}

      {{ partial "footer.html" . }}
    </div>

    {{ partial "settings.html" }}
    {{ partial "cookie-consent.html" }}

    <!--{{ partial "scripts.html" . }}-->
  </body>
</html>
