{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
<article class="blog-post single">
  <header>
    {{ partial "post-meta.html" . }}
  </header>

  <section class="content">
    {{ if .Site.Params.TOC }}
      {{ .TableOfContents }}
    {{ end }}

    {{ .Content }}
  </section>

  {{ if .IsTranslated }}
  <h4>{{ i18n "translations" }}</h4>

  <ul>
    {{ range .Translations }}
    <li>
      <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}

  <footer class="footer">
    {{ if (ne ($.Param "sharingicons") false) }}
      {{ partial "sharing-icons.html" . }}
    {{ end }}

    {{ if and (.Site.DisqusShortname) (ne .Site.Params.comments false) }}
      {{ template "_internal/disqus.html" . }}
    {{ end }}
  </footer>

</article> <!-- /.blog-post -->
{{ end }}