{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post list">
  <header>
    <h2>
      <a href="{{ .Permalink }}" title="{{ .Title }}" target="_self">
        {{ .Title | markdownify }}
      </a>
    </h2>

    <p class="metadata">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format $dateFormat }}
      </time>

      {{ i18n "authoredBy" }}
      
      {{ .Params.author | default .Site.Params.author }}
      {{ if or (.Params.categories) (.Params.tags) }}
        {{ i18n "postedIn" }}
        {{ partial "meta-terms.html" . }}
      {{ end }}
    </p>
  </header>

  <section class="content">
    {{ .Summary }}

    <a href='{{ .Permalink }}'  target="_self">
      {{ i18n "readMore" }}
    </a>
  </section>

  <footer>
    
  </footer>
</article> <!-- /.blog-post -->
