<article class="blog-post">
  <header>
    {{ partial "post-meta.html" . }}
  </header>

  <section class="content">
    <picture>
      {{ with .Resources.ByType "image" }}
        {{ range . }}
          {{ if findRE `images/default\.(jpe?g|png|webp|avif)$` .RelPermalink }}
            <img src="{{ .RelPermalink }}" alt="thumbnail" class="thumbnail">
            {{ $thumbnail := true }}
          {{ end }}
        {{ end }}
      {{ end }}
  </picture>

    {{ .Summary }}

    <a href='{{ .Permalink }}'  target="_self">
      {{ i18n "readMore" }}
    </a>
  </section>

  <footer>
    
  </footer>
</article> <!-- /.blog-post -->
