<article class="blog-post {{ if (not .Site.Params.post_excerpts) }}title-only{{ end }}">
  <header>
    {{ partial "post-meta.html" . }}
  </header>

  {{ if .Site.Params.post_excerpts }}
  <section class="content">
    <picture class="thumbnail">
      {{ $summaryScratch := newScratch }}
      {{ with .Resources.ByType "image" }}
        {{ range . }}
          <!-- Use 2099-12-01-post/images/default.IMG -->
          {{ if findRE `images/default\.(jpe?g|png|webp|avif)$` .RelPermalink }}
            <img src="{{ .RelPermalink }}" alt="thumbnail">
            {{ $summaryScratch.Set "thumbnail" "true" }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if and (ne ($summaryScratch.Get "thumbnail") "true") (.Params.tags) (fileExists "`.Site.BaseURL`/images/thumbnail/`index .Params.tags 0 `.webp") }}
        <img src="{{ .Site.BaseURL }}/images/thumbnail/{{ index .Params.tags 0 }}.webp" alt="thumbnail">
      {{ end }}
    </picture>

    <span>
      {{ .Summary }}
    </span>

    <a href="{{ .Permalink }}"  target="_self">
      {{ i18n "readMore" }}
    </a>
  </section>
  {{ end }}

  <footer>
    
  </footer>
</article> <!-- /.blog-post -->
