{{ define "main" }}

  <article class="blog-post">
    <h1>Tag: {{ .Page.Title }}</h1>
    <footer>{{ .Params.Tags }}</footer>
  </article>

  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Section) }}

  <!-- sticky posts -->
  {{ range .Paginator.Pages }}
    {{ if (eq .Params.sticky true) }}
      {{ if .Site.Params.truncate }}
        {{ .Render "summary" }}
      {{ else }}
        {{ .Render "content" }}
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- non-sticky posts -->
  {{ range .Paginator.Pages }}
    {{ if (ne .Params.sticky true) }}
      {{ if .Site.Params.truncate }}
        {{ .Render "summary" }}
      {{ else }}
        {{ .Render "content" }}
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- pagination buttons -->
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ partial "pagination.html" . }}
  {{ end }}

  <!-- vcard -->
  {{ if .Site.Params.me }}
    {{ partial "vcard.html" . }}
  {{ end }}

{{ end }}