<link rel="icon" href="{{ .Site.BaseURL }}/images/favicon.png">

{{ "<!-- Bootstrap CDN -->" | safeHTML }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="preload" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{{ with .Site.Params.library.fontawesome }}
{{ "<!-- FontAwesome CDN -->" | safeHTML }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
{{ end }}

{{ with .Site.Params.library.jquery_slim }}
{{ "<!-- JQuery Slim via CDN -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
{{ end }}

{{ with .Site.Params.library.jquery }}
<!--{{ "<!-- JQuery via CDN -->" | safeHTML }}-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{ end }}

{{ with .Site.Params.library.jquery_slidereveal }}
{{ "<!-- JQuery SlideReveal via CDN -->" | safeHTML }} <!-- https://github.com/nnattawat/slideReveal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideReveal/1.1.2/jquery.slidereveal.min.js" crossorigin="anonymous"></script>
{{ end }}

{{ with .Site.Params.library.bootstrap_js }}
{{ "<!-- Bootstrap JS via CDN -->" | safeHTML }}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{{ end }}

{{ with .Site.Params.library.js_cookie }}
{{ "<!-- JS-Cookie -->" | safeHTML }} <!-- https://github.com/js-cookie/js-cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
{{ end }}

{{ "<!-- DNS prefetch -->" | safeHTML }}
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
{{ with .Site.Params.social.twitter }}
<link rel="dns-prefetch" href="https://platform.twitter.com">
{{ end }}