{{ if .Params.categories }}
    <span class="d-inline category">
        {{ range $index, $category := .Params.categories }}
            {{ if gt $index 0 }}
                <span>|</span>
            {{ end }}

            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" rel="category tag" target="_self">
                <span>{{ . }}</span>
            </a>
        {{ end }}

        <i class="fa fa-folder" aria-hidden="true"></i>
    </span>
{{ end }}

{{ if .Params.tags }}
    {{ if .Params.categories }}
    &amp;
    {{ end }}

    <span class="d-inline tags">
        {{ range $index, $tag := .Params.tags }}
            {{ if gt $index 0 }}
                <span>|</span>
            {{ end }}

            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" rel="tag" target="_self">
                <span>{{ . }}</span><!-- Collapse whitespace using comment
            --></a>
        {{ end }}

        <i class="fa fa-tag" aria-hidden="true"></i>
    </span>
{{ end }}
